parameters:
    level: 9
    paths:
        - ../src/
        - ../tests/Unit
        - ../tests/Example
    tmpDir: ../var
    strictRules:
        allRules: true
    reportWrongPhpDocTypeInVarTag: true
    checkGenericClassInNonGenericObjectType: true
includes:
    - ../vendor/phpstan/phpstan-strict-rules/rules.neon
